- if !@aaronjgs.empty?
  %table.table.table-condensed
    %thead
      %tr
        %th
          Screen Name
        %th
          Tweet Count
        %th
          First Tweet Date-Time
        %th
          Last Tweet Date-Time
        %th
          Tweets Protected
    - @aaronjgs.each do |aaronjg|
      %tbody
        %tr
          %td
            = aaronjg.screen_name
          %td
            = aaronjg.tweet_count
          %td
            = aaronjg.first_tweet_date
          %td
            = aaronjg.last_tweet_date
          %td
            = aaronjg.tweets_protected
- else
  %tr
    %td
      No Tweets Founds for Analysis
